<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10724.11953193238!2d13.353823105365047!3d38.12932471574637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1319ef587bcf40d3%3A0xc93ef24463e27acd!2zQiZCIERhcnLDqA!5e0!3m2!1sen!2suk!4v1790820633303!5m2!1sen!2suk"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"></iframe>

    <h3><span class="text-accent">{{ 'LOCATION.TITLE_ACCENT' | translate }}</span> {{ 'LOCATION.TITLE_SUFFIX' | translate }}</h3>

    <h4 class="mb-3">{{ 'LOCATION.FROM_AIRPORT_ACCENT' | translate }} <span class="text-accent">{{ 'LOCATION.FROM_AIRPORT_SUFFIX' | translate }}</span></h4>
    <h5>{{ 'LOCATION.BY_CAR' | translate }}</h5>
    {{ 'LOCATION.AIRPORT_DIRECTIONS' | translate }}

    <h4 class="mb-3 mt-3">{{ 'LOCATION.FROM_PORT_ACCENT' | translate }} <span class="text-accent">{{ 'LOCATION.FROM_PORT_SUFFIX' | translate }}</span></h4>
    <h5>{{ 'LOCATION.ON_FOOT' | translate }}</h5>
    {{ 'LOCATION.PORT_WALK_DIRECTIONS' | translate }}

    <h4 class="mb-3 mt-3">{{ 'LOCATION.FROM_PORT_ACCENT' | translate }} <span class="text-accent">{{ 'LOCATION.FROM_PORT_SUFFIX' | translate }}</span> {{ 'LOCATION.FROM_PORT_CAR_EXTRA' | translate }}</h4>
    <h5>{{ 'LOCATION.BY_CAR' | translate }}</h5>
    {{ 'LOCATION.PORT_CAR_DIRECTIONS' | translate }}

</div>