<div class="info-container row justify-content-center g-5">
    <div class="regole col-sm-12 col-lg-7 col-xl-6">

        <h3 class="mb-4">{{ 'INFO.TITLE' | translate }}</h3>
        <h4 class="mb-3"><span class="text-accent">{{ 'INFO.RATES_TITLE_ACCENT' | translate }}</span> {{ 'INFO.RATES_TITLE_SUFFIX' | translate }}</h4>

        <table style="margin-bottom: 20px; height: 225px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
            border="0" width="100%" cellspacing="0" cellpadding="2">
            <tbody>
                <tr bgcolor="#dfdfdf">
                    <td style="padding-left: 20px; padding-right: 20px;"><strong>{{ 'INFO.ROOM_TYPE' | translate }}</strong></td>
                    <td style="text-align: right; padding-right: 20px;"><strong>{{ 'INFO.PRICE' | translate }}<br>
                        </strong></td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding-left: 20px;">{{ 'INFO.DOUBLE_TRIPLE_SINGLE' | translate }}</td>
                    <td style="text-align: right; padding-right: 20px;">€ 60</td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding-left: 20px;">{{ 'INFO.DOUBLE' | translate }}</td>
                    <td style="text-align: right; padding-right: 20px;">€ 80</td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding-left: 20px;">{{ 'INFO.TRIPLE_DOUBLE' | translate }}</td>
                    <td style="text-align: right; padding-right: 20px;">€ 80</td>
                </tr>
                <tr bgcolor="#fff">
                    <td style="padding-left: 20px;">{{ 'INFO.TRIPLE' | translate }}</td>
                    <td style="text-align: right; padding-right: 20px;">€ 110</td>
                </tr>
            </tbody>
        </table>


        <h4 class="mb-3"><span class="text-accent">{{ 'INFO.USEFUL_INFO_ACCENT' | translate }}</span> {{ 'INFO.USEFUL_INFO_SUFFIX' | translate }}</h4>
        <h5 class="mb-2">{{ 'INFO.DISCOUNTS_TITLE' | translate }}</h5>
        <p>{{ 'INFO.DISCOUNTS_TEXT' | translate }}</p>

        <h5 class="mb-2">{{ 'INFO.EXTRA_SERVICES_TITLE' | translate }}</h5>
        <p>{{ 'INFO.AIRPORT_TRANSFER' | translate }}</p>

        <p>{{ 'INFO.AIRPORT_TRANSFER_RT' | translate }}</p>

        <p>{{ 'INFO.STATION_TRANSFER' | translate }}</p>

        <p>{{ 'INFO.STATION_TRANSFER_RT' | translate }}</p>

        <p>{{ 'INFO.KITCHEN_USE' | translate }}</p>

        <p>{{ 'INFO.WASHER_USE' | translate }}</p>

        <h5 class="mb-2">{{ 'INFO.OTHER_INFO_TITLE' | translate }}</h5>
        <p>{{ 'INFO.PETS_INFO' | translate }}</p>

        <p>{{ 'INFO.PARKING_INFO' | translate }}</p>
    </div>

    <div class="booking col-sm-12 col-lg-3 col-xl-4 p-3">

        <p class="m-0 fw-bold">{{ 'BOOKING.CHECKIN' | translate }}</p>
        <p class="mb-4 fw-bold">{{ 'BOOKING.CHECKOUT' | translate }}</p>

        <p>
            {{ 'BOOKING.CANCELLATION_INTRO' | translate }} <a
                href="mailto:albertogamma&#64;yahoo.it">albertogamma&#64;yahoo.it</a>.
            {{ 'BOOKING.CANCELLATION_OUTRO' | translate }}
        </p>
    </div>

</div>